@charset "UTF-8";
::selection {
    background: #ffe400
}
::-moz-selection {
    background: #ffe400
}
body,div,ul,li,h1,h2,h3,h4{
    margin: 0;
    padding: 0
}
ul,li {
    list-style: none
}
.tab_cont {
    overflow: hidden;
    padding: 6px 0 60px
}
.tab_cont li {
    float: left;
    position: relative;
    width: 50%
}
.tab_cont .link_tab {
    display: block;
    height: 56px;
    border-bottom: 2px solid #e5e5e5;
    font-size: 19px;
    line-height: 26px;
    color: #888;
    text-align: center;
    text-decoration: none
}
.tab_cont li:hover .link_tab,.tab_cont .on .link_tab {
    border-color: #333;
    color: #000
}
.tab_cont .txt_bar {
    position: absolute;
    top: 6px;
    right: 0;
    width: 1px;
    height: 20px;
    background-color: #e5e5e5
}
.desc_login {
    padding: 50px 0 110px;
    font-size: 24px;
    line-height: 40px;
    text-align: center
}
.box_login {
    overflow: hidden;
    min-height: 220px;
    padding: 59px 0;
    border: 1px solid #e6e6e6;
    text-align: center;
    background: #fff
}
.box_login .desc_info {
    padding-top: 14px;
    font-weight: 200;
    font-size: 14px;
    line-height: 24px;
    color: #888
}