@charset "UTF-8";

input[type="text"] {
	background: none;
	border: none;
	outline: none;
}

input[type="text"]:focus {
	outline: none;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}

.accountWrapper ul {
	padding: 0;
}

.accountWrapper .progressAccounts input[type="text"] {
	border: 0;
}